/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* palette colori  */
:root{
    --title-color: #e53170;
    --text-color: #ffffff;
    --email-color: #63bddf;
    --section-bg-color: #000000;
}

/* utilty  */
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.debug{
    border: 2px solid black;
}

header{
    text-align: center;
}

h1{
    color: var(--title-color);
    padding: 40px;
    font-size: 50px;
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

.ft{
    float: left;
}

section{
    width: calc(100% / 3 - 60px);
    margin: 30px;
    background-color: var(--section-bg-color);
    color: var(--text-color);
}
address{
    color: var(--email-color);
    padding-top: 10px;
}

img{
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.text-container{
    padding: 10px;
}

h2{
    padding-bottom: 10px;
}